In [3]:
import pandas as pd
import numpy as np

In [4]:
data = np.array([[1,3], [2,4], [5,6]])
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'], columns=['zero', 'one'])
df

      zero  one
row1     1    3
row2     2    4
row3     5    6

# Create DataFrame w/ dictionary

In [7]:
# create arrays
states = ['California', 'Texas', 'Florida', 'New York']
population = [39613494, 29730311, 21944577, 19299981]

In [8]:
# store lists within a dictionary
dict1 = {'States': states, 'Population': population}

In [9]:
# Create dataframe
df = pd.DataFrame(dict1)

In [5]:
# Display dataframe
df

      zero  one
row1     1    3
row2     2    4
row3     5    6

# Create DataFrame from CSV file

In [6]:
# read from csv file
cpi = pd.read_csv('cpi-clean.csv')

In [ ]:
# display first 5 rows
cpi.head(5)

In [ ]:
# display last 5 rows
cpi.tail(10)

In [21]:
cpi.shape

(37, 3)

In [23]:
# display n rows
pd.set_option('display.max_rows', 1000)

In [ ]:
cpi

# Attributes

In [ ]:
# access shape attribute
cpi.shape

In [ ]:
# access index attribute
cpi.index

In [ ]:
# access columns attribute
cpi.columns

In [ ]:
# data types of each column
cpi.dtypes

# Methods

In [ ]:
# show information of dataframe
cpi.info()

In [ ]:
# describe basic statistics
cpi.describe()

# Functions

In [ ]:
# obtain length of dataframe
len(cpi)

In [ ]:
# obtain the highest index of dataframe
max(cpi.index)

In [36]:
# obtain the data type
type(cpi)

pandas.core.frame.DataFrame

In [ ]:
# round the values of dataset
round(cpi, 1)

# select one column

## syntax I

In [ ]:
# select a column with []
cpi['CPI']

In [42]:
# check out data type of column
type(cpi['Date'])

pandas.core.series.Series

## syntax II

In [ ]:
# select a column with .
cpi.CPI

# select multiple columns

In [ ]:
# select two column
cpi[['Date', 'CPI']]

# Add a new column
## Add a new column w/ scalar value

In [ ]:
# add a new column to dataframe
cpi['dumb'] = 'dumber'

## Add a new column w/ array

In [20]:
# create an array of 100 elements
score = np.random.uniform(0, 100+1, size=37)

In [21]:
# add a new column to dataframe
cpi['Score'] = score
cpi

    Unnamed: 0    Date      CPI    dumb       Score
0            2  2013Q1  232.773  dumber   83.316503
1            5  2013Q2  233.504  dumber    7.801471
2            8  2013Q3  234.149  dumber   98.540955
3           11  2013Q4  233.049  dumber   61.221927
4           14  2014Q1  236.293  dumber   96.651977
5           17  2014Q2  238.343  dumber   20.910715
6           20  2014Q3  238.031  dumber    4.064845
7           23  2014Q4  234.812  dumber   62.083805
8           26  2015Q1  236.119  dumber  100.937019
9           29  2015Q2  238.638  dumber   13.940153
10          32  2015Q3  237.945  dumber   66.558385
11          35  2015Q4  236.525  dumber   98.642814
12          38  2016Q1  238.132  dumber   31.318986
13          41  2016Q2  241.018  dumber   93.327068
14          44  2016Q3  241.428  dumber   34.692665
15          47  2016Q4  241.432  dumber   99.982175
16          50  2017Q1  243.801  dumber   43.289821
17          53  2017Q2  244.955  dumber    3.797823
18          56  2017Q3  246.819  dumber   80.182330
19          59  2017Q4  246.524  dumber   15.587674
20          62  2018Q1  249.554  dumber    0.756972
21          65  2018Q2  251.989  dumber   17.595318
22          68  2018Q3  252.439  dumber   32.311304
23          71  2018Q4  251.233  dumber   50.021235
24          74  2019Q1  254.202  dumber    2.730422
25          77  2019Q2  256.143  dumber   38.994906
26          80  2019Q3  256.759  dumber   70.221984
27          83  2019Q4  256.974  dumber   48.001222
28          86  2020Q1  258.115  dumber   87.324481
29          89  2020Q2  257.797  dumber   60.201294
30          92  2020Q3  260.280  dumber   78.279222
31          95  2020Q4  260.474  dumber   47.399581
32          98  2021Q1  264.877  dumber   68.611905
33         101  2021Q2  271.696  dumber   27.443788
34         104  2021Q3  274.310  dumber   10.801165
35         107  2021Q4  278.802  dumber    2.882226
36         110  2022Q1  287.504  dumber   30.417879