In [4]:
%pip install jupysql duckdb-engine --quiet

Note: you may need to restart the kernel to use updated packages.

In [9]:
%pip install matplotlib --quiet

Note: you may need to restart the kernel to use updated packages.

In [1]:
%load_ext sql

In [2]:
import pandas as pd

In [3]:
from pathlib import Path
from urllib.request import urlretrieve

In [5]:
if not Path("state_population.csv").is_file():
    urlretrieve(
        "https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv",
        "state_population.csv",
    )
if not Path("state_areas.csv").is_file():
    urlretrieve(
        "https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv",
        "state_areas.csv",
    )
if not Path("state_abbrevs.csv").is_file():
    urlretrieve(
        "https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv",
        "state_abbrevs.csv",
    )

In [4]:
%sql duckdb://

In [5]:
%sql select * from penguins.csv limit 3

*  duckdb://
Done.

[('Adelie', 'Torgersen', 39.1, 18.7, 181, 3750, 'MALE'),
 ('Adelie', 'Torgersen', 39.5, 17.4, 186, 3800, 'FEMALE'),
 ('Adelie', 'Torgersen', 40.3, 18.0, 195, 3250, 'FEMALE')]

In [ ]:
%%sql
select * 
  from penguins.csv
 where bill_length_mm > 40

In [7]:
%%sql --save not_nulls --no-execute
SELECT *
  FROM penguins.csv
 WHERE bill_length_mm IS NOT NULL
   AND bill_depth_mm IS NOT NULL

*  duckdb://
Skipping execution...

In [ ]:
%sqlplot histogram --column bill_length_mm bill_depth_mm --table not_nulls --with not_nulls

In [ ]:
%sqlplot boxplot --column bill_length_mm bill_depth_mm --table not_nulls --with not_nulls

In [13]:
result = %sql SELECT * FROM penguins.csv

*  duckdb://
Done.

In [15]:
df = result.DataFrame()

In [17]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,None
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [18]:
%%sql
SELECT species, COUNT(*) AS count
  FROM penguins.csv
 GROUP BY species
 ORDER BY count DESC

*  duckdb://
Done.

[('Adelie', 152), ('Gentoo', 124), ('Chinstrap', 68)]

In [20]:
%%sql
CREATE TABLE capitals(city VARCHAR, country VARCHAR);
INSERT INTO capitals VALUES ('Amsterdam', 'NL'), ('Berlin', 'Germany');

CREATE TABLE weather(city VARCHAR, degrees INTEGER, date DATE);
INSERT INTO weather VALUES ('Amsterdam', 10, '2022-10-14'), ('Seattle', 8, '2022-10-12');

*  duckdb://
Done.
Done.
Done.
Done.

[(2,)]

In [29]:
%%sql
-- Amsterdam, Berlin, Seattle
select * from (SELECT city FROM capitals limit 1)
UNION
select * from (SELECT city FROM weather limit 2)

*  duckdb://
Done.

[('Amsterdam',), ('Seattle',)]

In [24]:
%%sql
-- Amsterdam, Amsterdam, Berlin, Seattle
SELECT city FROM capitals UNION ALL SELECT city FROM weather;

*  duckdb://
Done.

[('Amsterdam',), ('Berlin',), ('Amsterdam',), ('Seattle',)]

In [21]:
%sql show tables

*  duckdb://
Done.

[('capitals',), ('weather',)]