# 4 Query

Selecting and projecting data are essential functions of pandas.

## 4.1 Optimize memory usage

By choosing appropriate data types for coloum. You can save memory and make query run fast.
General rules are:

- use `datetime` instead of `object` for date columns
- use `int` instead of `float` if possible
- use `bool` instead of `object` for boolean columns
- use `category` to replace data type of column which has limited distinct values

In [ ]:
import pandas as pd

In [ ]:
employees = pd.read_csv("employees.csv", parse_dates=["Start Date"])
employees["Mgmt"] = employees["Mgmt"].astype(bool)
employees.info()

In [ ]:
employees["Salary"] = employees["Salary"].fillna(0).astype(int)
employees.info()

In [ ]:
employees.nunique()

In [ ]:
employees["Team"] = employees["Team"].astype("category")
employees["Gender"] = employees["Gender"].astype("category")

In [ ]:
employees.info()

## 4.2 Select rows by a single condition

### 4.2.1 Find employee named `Maria`

In [ ]:
employees[employees["First Name"] == 'Maria']

To ease the reuse of query criteria, you may assign the criteria to a descriptive variable, then use the variable in square bracket:

In [ ]:
first_is_maria = employees["First Name"] == 'Maria'
employees[first_is_maria]

### 4.2.2 Find employee not in `Finance` department

In [ ]:
not_in_finance = employees["Team"] != "Finance"
employees[not_in_finance]

### 4.2.3 Find managers

In [ ]:
is_managers = employees["Mgmt"]
employees[is_managers]

### 4.2.4 Find high-paid employees

In [ ]:
is_high_owner = employees["Salary"] > 100000
employees[is_high_owner]

## 4.3 Select rows by multiple conditions

We can use logic operators:

- AND `&`
- OR `|`
- INVERSION `~`

to combine multiple conditions.

### 4.3.1 Find female employees in `Business Dev` department

In [ ]:
is_female = employees["Gender"] == "Female"
in_biz_dev = employees["Team"] == "Business Dev"
employees[is_female & in_biz_dev]

### 4.3.2 Find employees own less than 40K or employed after 2015

In [ ]:
earning_below_40k = employees["Salary"] < 4000
started_after_2015 = employees["Start Date"] > "2015-01-01"
employees[earning_below_40k | started_after_2015]

### 4.3.3 Find employees own more than 40K and employed before 2015

In [ ]:
employees[~(earning_below_40k | started_after_2015)]

### 4.3.4 Find employees of team "Product", "IT" and "HR"

In [ ]:
in_specified_teams = employees["Team"].isin(["Product", "IT", "HR"])
employees[in_specified_teams]

### 4.3.4 Find employees own 70K to 80K

In [ ]:
owns_70k_to_80k = employees["Salary"].between(70000, 80000)
employees[owns_70k_to_80k]
employees[employees["Start Date"].isnull()]

## 4.4 Deal with missing and duplicate data

Pandas represents missing data as `NaN` for number and string, `NaT` for datetime.
To cleanse missing data, we can either drop them using `dropna()` or replace them with constant value with `fillna()`.

You can drop rows with missing data in specific columns by setting the `subset` parameter of `dropna()` method.
You can drop duplicated rows by specifying a combination of columns by setting the `subset` parameter of `drop_duplicates()` method.

### 4.4.1 Find first people in each team

In [ ]:
first_people_in_team = ~employees["Team"].duplicated()
employees[first_people_in_team]

### 4.4.2 Remove duplicated male employees named `Douglas`

In [ ]:
employees.dropna(subset=["First Name"])